@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree-ExtraBoldItalic.eot");
  src: url("../fonts/Figtree-ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Figtree-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/Figtree-ExtraBoldItalic.woff") format("woff"),
    url("../fonts/Figtree-ExtraBoldItalic.svg#Figtree-ExtraBoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree-Bold.eot");
  src: url("../fonts/Figtree-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Figtree-Bold.woff2") format("woff2"),
    url("../fonts/Figtree-Bold.woff") format("woff"),
    url("../fonts/Figtree-Bold.svg#Figtree-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree-Light.eot");
  src: url("../fonts/Figtree-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Figtree-Light.woff2") format("woff2"),
    url("../fonts/Figtree-Light.woff") format("woff"),
    url("../fonts/Figtree-Light.svg#Figtree-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree-LightItalic.eot");
  src: url("../fonts/Figtree-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Figtree-LightItalic.woff2") format("woff2"),
    url("../fonts/Figtree-LightItalic.woff") format("woff"),
    url("../fonts/Figtree-LightItalic.svg#Figtree-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree-BoldItalic.eot");
  src: url("../fonts/Figtree-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Figtree-BoldItalic.woff2") format("woff2"),
    url("../fonts/Figtree-BoldItalic.woff") format("woff"),
    url("../fonts/Figtree-BoldItalic.svg#Figtree-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree-ExtraBold.eot");
  src: url("../fonts/Figtree-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Figtree-ExtraBold.woff2") format("woff2"),
    url("../fonts/Figtree-ExtraBold.woff") format("woff"),
    url("../fonts/Figtree-ExtraBold.svg#Figtree-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree-BlackItalic.eot");
  src: url("../fonts/Figtree-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Figtree-BlackItalic.woff2") format("woff2"),
    url("../fonts/Figtree-BlackItalic.woff") format("woff"),
    url("../fonts/Figtree-BlackItalic.svg#Figtree-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree-Italic.eot");
  src: url("../fonts/Figtree-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Figtree-Italic.woff2") format("woff2"),
    url("../fonts/Figtree-Italic.woff") format("woff"),
    url("../fonts/Figtree-Italic.svg#Figtree-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree-Black.eot");
  src: url("../fonts/Figtree-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Figtree-Black.woff2") format("woff2"),
    url("../fonts/Figtree-Black.woff") format("woff"),
    url("../fonts/Figtree-Black.svg#Figtree-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree-Medium.eot");
  src: url("../fonts/Figtree-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Figtree-Medium.woff2") format("woff2"),
    url("../fonts/Figtree-Medium.woff") format("woff"),
    url("../fonts/Figtree-Medium.svg#Figtree-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree-SemiBold.eot");
  src: url("../fonts/Figtree-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Figtree-SemiBold.woff2") format("woff2"),
    url("../fonts/Figtree-SemiBold.woff") format("woff"),
    url("../fonts/Figtree-SemiBold.svg#Figtree-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree-MediumItalic.eot");
  src: url("../fonts/Figtree-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Figtree-MediumItalic.woff2") format("woff2"),
    url("../fonts/Figtree-MediumItalic.woff") format("woff"),
    url("../fonts/Figtree-MediumItalic.svg#Figtree-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree-SemiBoldItalic.eot");
  src: url("../fonts/Figtree-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Figtree-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/Figtree-SemiBoldItalic.woff") format("woff"),
    url("../fonts/Figtree-SemiBoldItalic.svg#Figtree-SemiBoldItalic")
      format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree-Regular.eot");
  src: url("../fonts/Figtree-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Figtree-Regular.woff2") format("woff2"),
    url("../fonts/Figtree-Regular.woff") format("woff"),
    url("../fonts/Figtree-Regular.svg#Figtree-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
